@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   font-family: roboto, sans-sarif;
   font-weight: 300;
}

h1, h2 {
   font-family: Bungee, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
}

h3 {
   font-family: roboto;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin: 0 auto;
}

nav {
   padding: 5px 20px;
}

nav ul {
   list-style-type: none;
}

.menu li{
   font-size: 16px;
   justify-content: center;
   align-items: center;
}

.logo a {
   color: rgb(0, 26, 55);
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   font-family: Bungee;
}

nav ul li a {
   color: rgb(0, 26, 55);
   text-decoration: none;
   display: block;
   font-family: Bungee;
}

nav ul li a:hover {
   color: #fff;
   background:  rgb(0, 26, 55);
   border-radius: 5px;
}

/* mobile menu */

.menu {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.menu li {
   padding: 5px 25px;
}

.item {
   width: 100%;
   text-align: center;
}

/* Tablet menu */

@media only screen and (min-width: 476px) {

   .menu {
      justify-content: space-evenly;  
   }

   .menu li {
      padding: 5px 25px;
   }

   .logo {
      flex: 1;
   }

   .logo a {
      color: rgb(0, 26, 55);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      font-family: Bungee;
   }
   
}
@media only screen and (min-width: 768px) {
   .item {
      display: block;
      width: auto;
   }

   .menu li{
      font-size: 16px;
      padding: 5px 25px;
      justify-content: center;
      align-items: center;
   }

   .logo a {
      color: rgb(0, 26, 55);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      font-family: Bungee;
   
   }
}

.active {
   padding: 5px;
   background-color:  rgb(0, 26, 55, 0.3);
   border-radius: 5px;
}

.logo {
   /* animation zoom effect on loading page */

   animation-name: logo-zoom;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

/* create mock animation */

@keyframes logo-zoom {
   from {
      transform: scale(0.7);
   }
   to {
      transform: scale(1);
   }
}

.background-image {
   display: inline-flex;
   background: url('https://richy011.github.io/fish-tank-guy/assets/images/fish-tank-guy-home-image.webp');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   height: 600px;

}

/* cover-text */

#cover-text, #cover-text h2 {
   color: rgb(0, 26, 55);
}

#cover-text h3 {
   font-weight: 1000;
   margin: 5px;
}

#cover-text {
   display: inline-block;
   text-align: center;
   background: rgb(0, 255, 255, 0.7);
   height: fit-content;
   margin-top: 150px;
   border-radius: 10px;
   position: absolute;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
}


@media only screen and (min-width: 475px) {
   #cover-text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgb(0, 255, 255, 0.7);
      height: fit-content;
      margin: 0 auto;
      border-radius: 10px;
   }
  
}

.article {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: 30px 15px;
   padding: 20px 10px;
}

.article-two {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: 30px 15px;
   padding: 20px 10px;
   flex-direction: row-reverse;
   background-color: rgb(0, 26, 55, 0.3);
}

.imgbx {
   background: url('https://richy011.github.io/fish-tank-guy/assets/images/maintenance-fish-tank-guy.webp') no-repeat center center;
   height: 400px;
   flex: 1 0 0%;
}

.second-imgbx {
   background: url('https://richy011.github.io/fish-tank-guy/assets/images/emergency-fish-tank-guy.webp') no-repeat center center;
   height: 400px;
   flex: 1 0 0%;
}

.third-imgbx {
   background: url('https://richy011.github.io/fish-tank-guy/assets/images/fish-tank-guy-reconditioning.webp') no-repeat center center;
   height: 500px;
   flex: 1 0 0%;
}

.content {
   flex: 1 0 100%;
   padding: 10px 5px;
}

@media only screen and (min-width: 550px) {
   .content, .imgbx, .second-imgbx, .third-imgbx {
      flex: 1 0 100%;
}  
   }

@media only screen and (min-width: 950px) {
   .content, .imgbx, .second-imgbx, .third-imgbx {
         flex: 1 0 50%;
   }
      }

@media only screen and (min-width: 1300px) {
   .content, .imgbx, .second-imgbx, .third-imgbx{
      flex: 1 0 50%;
}
   }

.main-heading {
   text-align: center;
   font-size: 200%;
}

#sub-main-heading {
   text-align: center;
   font-size: 130%;
   padding-bottom: 30px;
   margin-bottom: 50px;
}

.article-heading {
   padding-bottom: 10px;
   margin: 2px;
}

.contact-button {
   display: block;
   font-size: 16px;
   padding: 8px;
   border: 1px solid  rgb(0, 26, 55);
   background-color:  rgb(0, 26, 55);
   color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-top: 10px;
   width: 100px;
   text-align: center;
}

.contact-button:hover {
   background-color: rgb(255, 255, 0);
   border: 1px solid rgb(255, 255, 0);
   color: rgb(0, 26, 55);
   font-size: 18px;
   font-weight: 800;
   
}

p {
   padding: 30px;
   letter-spacing: 3px;
}

.part-one {
   margin: 20px 0;
}

/* footer */

a {
   color: #fff;
   text-decoration: none;
}

#social-media {
   display: flex;
   justify-content: center;
}

.footer li a {
   text-decoration: none;
}

footer {
   background-color: rgb(0, 26, 55);
   color: #fff;
}

.align-left {
   text-align: left;
}

.align-left > h3 {
   padding-bottom: 10px;
}

.footer-item {
   font-size: 30px;
   text-decoration: none;
   list-style: none;
   padding: 20px;
}

/* mobile footer */
.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   color: #fff;
   padding: 50px 10px;
}

.align-left > h3 {
   padding: 20px 0px 10px;
}

a > h4 {
   padding: 5px;
}

@media only screen and (min-width: 420px) {
   .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      color: #fff;
      padding: 50px 100px;
   }

}

@media only screen and (min-width: 900px) {
   .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: auto;
      color: #fff;
      padding: 50px 5px;
   }

   .align-left > h3 {
      padding: 20px 0px 10px;
   }
}

/* contact form */

.form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background-color: rgb(0, 26, 55);
   color: #fff;
   font-size: 17px;
   font-weight: 700;
   height: 100%;
   width: auto;
   padding: 30px;
   border-radius: 10px;

}

input, select{
   margin: 10px;
   font-weight: 300;
   font-size: 16px;
   padding: 3px;
}

textarea {
   margin: 10px;
   padding-left: 12px;
   height: 250px;
   width: 200px;
}

#contact-p {
   padding: 0;
   letter-spacing: normal;
}

span{
   margin: 0 auto;
}

.contact-buttons:hover {
   background-color: rgb(0, 26, 55);
   color: rgb(255, 255, 0);
}

label {
   padding: 10px 5px;
}

.fieldset {
   padding: 15px;
   margin: 5px;
}

@media only screen and (min-width: 390px){

.form {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background-color: rgb(0, 26, 55);
   color: #fff;
   font-size: 17px;
   font-weight: 700;
   height: 100%;
   width: auto;
   padding: 30px;
   border-radius: 10px;
}

.fieldset {
   padding: 15px;
   margin: 5px;
}

label {
   padding: 10px 0;
}

input, select{
   margin: 10px;
   font-weight: 300;
   font-size: 16px;
   padding: 3px;
}

textarea {
   margin: 10px;
   padding-left: 12px;
   height: 300px;
   width: 300px;

}

#contact-p {
   padding: 0;
   letter-spacing: normal;
}

.contact-buttons {
   padding: 15px;
   border-radius: 5px;
   background-color: #fff;
   color: rgb(0, 26, 55);
   font-weight: 600;
   font-size: 16px;
}

.contact-buttons:hover {
   background-color: rgb(0, 26, 55);
   color: rgb(255, 255, 0);
}

span{
   text-align: center;
}

}

@media only screen and (min-width: 520px){
   textarea {
      margin: 10px;
      padding-left: 12px;
      height: 300px;
      width: 500px;
   
   }

   .fieldset {
      padding: 10px;
      margin: 5px;
   }
   
}

.gallery-container {
   display: flex;
   flex-wrap: wrap;
   width: auto;
   justify-content: center;
}

.gallery-item {
   width: 400px;
   height: 400px;
   object-fit: cover;
   object-position: center;
   padding: 5px;
}

.gallery-item:hover {
   cursor: pointer;
   opacity: 0.7;
}

.page-missing{
   text-align: center;

}

.page-missing p {
   height: 300px;
}