@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   font-family: roboto, sans-sarif;
   font-weight: 300;
 
}

h1, h2 {
   font-family: Bungee, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
}

h3 {
   font-family: roboto;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin: 0 auto;
}

nav {
   padding: 5px 20px;
}

nav ul {
   list-style-type: none;
}

.menu li{
   font-size: 16px;
   justify-content: center;
   align-items: center;

}

.logo a {
   color: rgb(0, 26, 55);
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   font-family: Bungee;

}

nav ul li a {
   color: rgb(0, 26, 55);
   text-decoration: none;
   display: block;
   font-family: Bungee;
   
}

nav ul li a:hover {
   color: #fff;
   background:  rgb(0, 26, 55);
   border-radius: 5px;
}

/* mobile menu */

.menu {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.menu li {
   padding: 5px 25px;
}

.item {
   width: 100%;
   text-align: center;
}

/* Tablet menu */

@media only screen and (min-width: 476px) {

   .menu {
      justify-content: space-evenly;  
   }

   .menu li {
      padding: 5px 25px;
   }

   .logo {
      flex: 1;
   }

   .logo a {
      color: rgb(0, 26, 55);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      font-family: Bungee;
   
   }
   
}
@media only screen and (min-width: 768px) {
   .item {
      display: block;
      width: auto;
   }

   .menu li{
      font-size: 16px;
      padding: 5px 25px;
      justify-content: center;
      align-items: center;
   }

   .logo a {
      color: rgb(0, 26, 55);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      font-family: Bungee;
   
   }
}

.active {
   padding: 5px;
   background-color:  rgb(0, 26, 55, 0.3);
   border-radius: 5px;
}

.logo {
  

   /* animation zoom effect on loading page */

   animation-name: logo-zoom;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

/* create mock animation */

@keyframes logo-zoom {
   from {
      transform: scale(0.7);
   }
   to {
      transform: scale(1);
   }
}

.background-image {
   background: url('../images/fish-tank-guy-home-image.webp');
   background-size: cover;
   height: 600px;
}

.article {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: 30px 15px;
   padding: 20px 10px;
}

.article-two {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: 30px 15px;
   padding: 20px 10px;
   flex-direction: row-reverse;
   background-color: rgb(0, 26, 55, 0.3);
}

.imgbx {
   background: url('../images/maintenance-fish-tank-guy.webp') no-repeat center center;
   height: 300px;
   flex: 1 0 0%;
}

.second-imgbx {
   background: url('../images/emergency-fish-tank-guy.webp') no-repeat center center;
   height: 300px;
   flex: 1 0 0%;
}

.third-imgbx {
   background: url('../images/fish-tank-guy-reconditioning.webp') no-repeat center center;
   height: 300px;
   flex: 1 0 0%;
}

.content {
   flex: 1 0 100%;
   padding: 10px 5px;
}

@media only screen and (min-width: 550px) {
   .content, .imgbx, .second-imgbx, .third-imgbx {
      flex: 1 0 100%;
}  
   }

@media only screen and (min-width: 950px) {
   .content, .imgbx, .second-imgbx, .third-imgbx {
         flex: 1 0 50%;
   }
      }

@media only screen and (min-width: 1300px) {
   .content, .imgbx, .second-imgbx, .third-imgbx{
      flex: 1 0 50%;
}
   }

#main-heading {
   text-align: center;
   font-size: 200%;
}

#sub-main-heading {
   text-align: center;
   font-size: 130%;
   padding-bottom: 30px;
   margin-bottom: 50px;
}

.article-heading {
   padding-bottom: 10px;
   margin: 2px;
}

#contact-button {
   font-size: 20px;
   padding: 20px;
   border: 1px solid  rgb(0, 26, 55);
   background-color:  rgb(0, 26, 55);
   color: white;
   border-radius: 10px;
   margin: 10px 10px 40px 10px;
}

p {
   padding: 30px;
   letter-spacing: 3px;
}

.section-one {
   margin: 20px 0;
}

a {
   color: #fff;
   text-decoration: none;
}

#social-media {
   display: flex;
   justify-content: center;
}

.footer li a {
   text-decoration: none;
}

footer {
   background-color: rgb(0, 26, 55);
   color: #fff;
}

.align-left {
   text-align: left;
}

.align-left > h3 {
   padding-bottom: 10px;
}

.align-left > a {
   padding-bottom: 4px;
}

.footer-item {
   font-size: 30px;
   text-decoration: none;
   list-style: none;
   padding: 20px;
}

/* mobile */
.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   color: #fff;
   padding: 50px 100px;
}


@media only screen and (min-width: 875px) {
   .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: auto;
      color: #fff;
      padding: 50px 5px;
   }
}